* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fundoPrincipal: #f5f5f5;
  --texto: #22222222;
  --textoInverso: #ffffff;
  --destaque: #0077ff;
  --destaqueInverso: #66bbff;
  --funcdoCard: #ffffff;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.5em;
  background-color: var(--fundoPrincipal);
  color: black;
}

header {
  background-color: var(--destaque);
  color: var(--texto);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}

nav#menu ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

nav#menu a {
  text-decoration: none;
  color: var(--textoInverso);
  font-weight: 600;
  padding: 12px;
  border-radius: 5px;

  transition: background-color .5s, color .5s;
}

nav#menu a:hover {
  background-color: var(--destaqueInverso);
  color: var(--destaque);
}

main {
  display: grid;
  grid-template-columns: auto 90vw auto;
  gap: 20px;
  margin-top: 20px;
}

section#ficha {
  background-color: var(--funcdoCard);
  padding: 20px;
  border-radius: 8px;
  grid-column: 2;
}

section#ficha img.foto {
  width: 200px;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--funcdoCard);
  outline: 5px solid var(--destaque); /* fica fora da borda */
  display: block;
  margin: auto;
  margin-bottom: 15px;
}

section#ficha h1 {
  color: var(--destaque);
  margin: 15px 0px;
  font-size: 1.5em;
  text-align: left;
}

div.social {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6em;
  gap: 1em;
  margin-top: 15px;
}

div.social a {
  color: var(--destaque);

  transition: color .5s;
}

div.social a:hover {
  color: var(--destaqueInverso);
}

section#detalhes {
  grid-column: 2;
}

article {
  background-color: var(--funcdoCard);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
}

article h2 {
  color: var(--destaque);
}

.video-container {
  position: relative;
  width: 100%;
  margin: auto;
  aspect-ratio: 16/9;
}

.video-container iframe {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}